* {
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.twitt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; 
  margin: auto;
}
